version: "3.3"

services:
  caddy:
    build: .
    container_name: caddy
    restart: unless-stopped

    ports:
      - 80:80
      - 443:443
    
    network_mode: "host"

    volumes:
      - caddy_data:/data
      - ./Caddyfile:/etc/caddy/Caddyfile

    environment:
      CF_TOKEN: "uwu"

volumes:
  caddy_data: